<form action="/payment/results" method="get">
  <label for="APR_value">APR</label><input name="APR_value" type="text" placeholder="E.g. 5.42"><br>
  <label for="years_value">Number of years</label><input name="years_value" type="text" placeholder="How many years to repay?"><br>
  <label for="principal_value">Principal</label><input name="principal_value" type="text" placeholder="How much principal?"><br>
  <button>Calculate monthly payment</button>
</form>
