<h1>Random Number Generator</h1>
<form action="/random/results" method="get">
  <label for="user_min">Minimum</label><input name="user_min" type="text" id="user_min" placeholder="E.g. 1.5"><br>
  <label for="user_max">Maximum</label><input name="user_max" type="text" id="user_max" placeholder="E.g. 4.5"><br>
  <button>Pick random number</button>
</form>
