<h1>Square Root Calculator</h1>
<form action="/square_root/results" method="get">
  <label for="sq_root_new_number">Enter a number</label><br>
  <input type="text" name="sq_root_new_number" id="sq_root_new_number">
  <button>Calculate square root</button>
</form>
