<!DOCTYPE html>
<html>
  <head><title>OmniCalc</title></head>
  <body>
    <table border="1" style="width: 100%">
      <tr>
        <td><strong>Calculators</strong></td>
        <td><a href="/square/new">Square with Form</a></td>
        <td><a href="/square_root/new">Square Root with Form</a></td>
        <td><a href="/payment/new">Payment with Form</a></td>
        <td><a href="/random/new">Random with Form</a></td>
      </tr>
    </table>
    <%= yield %>
  </body>
</html>
